# AUTO-GENERATED by scripts/fetch-openapi.mjs from upstream Nexon specs:
#   https://openapi.nexon.com/static/api/tfd/20_en_script20250814011224.yaml
#   https://openapi.nexon.com/static/api/tfd/22_en_script20251204092429.yaml
#   https://openapi.nexon.com/static/api/tfd/24_en_script20240703235909.yaml
#   https://openapi.nexon.com/static/api/tfd/61_en_script20260429052057.yaml
# Run `npm run fetch:openapi` to regenerate.

openapi: 3.0.3
info:
  title: The First Descendant API
  version: 1.0.0
  contact:
    name: help_openapi@nexon.co.kr
  description: |-
    - Game data for The First Descendant becomes available after 10 minutes on average.
    - Please note that the OUID may change due to game content updates. Be cautious when renewing services based on the OUID.
    - For the interpretation of various ID values such as those for descendants, weapons, etc., please refer to the separately provided metadata API (/meta/).
    - Nickname must distinguish between uppercase and lowercase letters.
    - If you haven't logged in to the game for more than 6 months, your data may not show up as normal. In this case, log in to the game.

    ---

    This spec is auto-generated by `scripts/fetch-openapi.mjs`, which downloads the four English YAMLs Nexon publishes (account info, metadata, module recommendation, leaderboard) and merges them into a single document. Run `npm run fetch:openapi` to refresh after Nexon publishes updates.

    Schemas and operations carry `NOTE (tfd-builds): ...` callouts where Nexon's upstream behavior has quirks worth knowing about.
servers:
  - url: https://open.api.nexon.com
tags:
  - name: User
    description: Account information retrieval
  - name: MetaData
    description: Retrieves metadata information.
  - name: Recommendation
    description: Module recommendation
  - name: leaderboard
    description: Leaderboard Inquiry
paths:
  /tfd/v1/id:
    get:
      tags:
        - User
      summary: Retrieve account identifier (OUID)
      description: Retrieves the account identifier (OUID).
      operationId: thefirstdescendant_get_user_id
      parameters:
        - name: x-nxopen-api-key
          in: header
          required: true
          schema:
            type: string
          description: API KEY
        - name: user_name
          in: query
          required: true
          schema:
            type: string
          description: Nickname
          example: Nickname#1234
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /tfd/v1/user/basic:
    get:
      tags:
        - User
      summary: Retrieve basic information
      description: Retrieves basic information.
      operationId: thefirstdescendant_get_user_basic
      parameters:
        - name: x-nxopen-api-key
          in: header
          required: true
          schema:
            type: string
          description: API KEY
        - name: ouid
          in: query
          required: true
          schema:
            type: string
          description: OUID
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserBasic'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /tfd/v1/user/descendant:
    get:
      tags:
        - User
      summary: Retrieve equipped descendant information
      description: Retrieves information about the equipped descendant.<br>- For equipped module and customization information, it will be updated after you reconnect to the game or complete content with active matchmaking.
      operationId: thefirstdescendant_get_user_descendant
      parameters:
        - name: x-nxopen-api-key
          in: header
          required: true
          schema:
            type: string
          description: API KEY
        - name: ouid
          in: query
          required: true
          schema:
            type: string
          description: OUID
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDescendant'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /tfd/v1/user/weapon:
    get:
      tags:
        - User
      summary: Retrieve equipped weapon information
      description: Retrieves information about weapons equipped in all slots.<br>- For equipped module information, it will be updated after you reconnect to the game or complete content with active matchmaking.
      operationId: thefirstdescendant_get_user_weapon
      parameters:
        - name: x-nxopen-api-key
          in: header
          required: true
          schema:
            type: string
          description: API KEY
        - name: language_code
          in: query
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: language code
          required: true
        - name: ouid
          in: query
          required: true
          schema:
            type: string
          description: OUID
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserWeapon'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /tfd/v1/user/reactor:
    get:
      tags:
        - User
      summary: Retrieve equipped Reactor information
      description: Retrieves information about the equipped Reactor.
      operationId: thefirstdescendant_get_user_reactor
      parameters:
        - name: x-nxopen-api-key
          in: header
          required: true
          schema:
            type: string
          description: API KEY
        - name: language_code
          in: query
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: language code
          required: true
        - name: ouid
          in: query
          required: true
          schema:
            type: string
          description: OUID
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserReactor'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /tfd/v1/user/external-component:
    get:
      tags:
        - User
      summary: Retrieve equipped external component information
      description: Retrieves information about external components equipped in all slots.
      operationId: thefirstdescendant_get_user_external-component
      parameters:
        - name: x-nxopen-api-key
          in: header
          required: true
          schema:
            type: string
          description: API KEY
        - name: language_code
          in: query
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: language code
          required: true
        - name: ouid
          in: query
          required: true
          schema:
            type: string
          description: OUID
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserExternalComponent'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /tfd/v1/user/arche-tuning:
    get:
      tags:
        - User
      summary: Retrieve Arche tuning information
      description: |-
        Retrieves the Arche tuning information.
        - Returns the activated nodes and their coordinates for each descendant group.

        NOTE (tfd-builds): See UserArcheTuning schema for the slot_id=0 phantom-data quirk that affects older descendants.
      operationId: thefirstdescendant_get_user_arche_tuning
      parameters:
        - name: x-nxopen-api-key
          in: header
          required: true
          schema:
            type: string
          description: API KEY
        - name: ouid
          in: query
          required: true
          schema:
            type: string
          description: Account identifier
        - name: descendant_group_id
          in: query
          required: true
          schema:
            type: string
          description: Descendant group identifier (Refer to /meta/descendant-group API)
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserArcheTuning'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/{language_code}/descendant.json:
    get:
      tags:
        - MetaData
      summary: Retrieve descendant metadata
      description: Retrieves descendant metadata.
      parameters:
        - name: language_code
          in: path
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: language code
          required: true
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescendantResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/{language_code}/weapon.json:
    get:
      tags:
        - MetaData
      summary: Retrieve weapon metadata
      description: Retrieves weapon metadata.<br> This API only provides path information. You can check it via a separate client.
      parameters:
        - name: language_code
          in: path
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: language code
          required: true
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeaponResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/{language_code}/module.json:
    get:
      tags:
        - MetaData
      summary: Retrieve module metadata
      description: Retrieves module metadata.
      parameters:
        - name: language_code
          in: path
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: language code
          required: true
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModuleResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/{language_code}/reactor.json:
    get:
      tags:
        - MetaData
      summary: Retrieve Reactor metadata
      description: Retrieves Reactor metadata.<br> This API only provides path information. You can check it via a separate client.
      parameters:
        - name: language_code
          in: path
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: language code
          required: true
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReactorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/{language_code}/external-component.json:
    get:
      tags:
        - MetaData
      summary: Retrieve external component metadata
      description: Retrieves external component metadata.</br> This API only provides path information. You can check it via a separate client.
      parameters:
        - name: language_code
          in: path
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: language code
          required: true
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalComponentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/{language_code}/reward.json:
    get:
      tags:
        - MetaData
      summary: Retrieve Difficulty Level Rewards metadata
      description: Retrieves Difficulty Level Rewards metadata.
      parameters:
        - name: language_code
          in: path
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: language code
          required: true
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/{language_code}/stat.json:
    get:
      tags:
        - MetaData
      summary: Retrieve base stat metadata
      description: Retrieves base stat metadata.
      parameters:
        - name: language_code
          in: path
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: language code
          required: true
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/{language_code}/void-battle.json:
    get:
      tags:
        - MetaData
      summary: Retrieve Void Intercept Battle metadata
      description: Retrieves Void Intercept Battle metadata.
      parameters:
        - name: language_code
          in: path
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: language code
          required: true
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoidBattleResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/{language_code}/title.json:
    get:
      tags:
        - MetaData
      summary: Retrieve Title metadata
      description: Retrieves Title metadata.
      parameters:
        - name: language_code
          in: path
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: language code
          required: true
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TitleResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/descendant-level-detail.json:
    get:
      tags:
        - MetaData
      summary: Retrieve EXP metadata by descendant level
      description: Retrieves the required EXP information for each Descendant level.
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescendantLevelDetailResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/mastery-rank-level-detail.json:
    get:
      tags:
        - MetaData
      summary: Retrieve EXP metadata by Mastery Rank
      description: Retrieves the required EXP information for each Mastery Rank.
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MasteryRankLevelDetailResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/{language_code}/consumable-material.json:
    get:
      tags:
        - MetaData
      summary: Retrieve consumable items metadata
      description: Retrieves metadata for consumable items.
      parameters:
        - name: language_code
          in: path
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: language code
          required: true
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumableMaterialResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/{language_code}/research.json:
    get:
      tags:
        - MetaData
      summary: Retrieve research info metadata
      description: Retrieves research info metadata.
      parameters:
        - name: language_code
          in: path
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: language code
          required: true
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResearchResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/amorphous-reward.json:
    get:
      tags:
        - MetaData
      summary: Retrieve Amorphous Material open reward metadata
      description: Retrieves metadata for rewards received when opening Amorphous Materials in the game.
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmorphousRewardResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/{language_code}/acquisition-detail.json:
    get:
      tags:
        - MetaData
      summary: Retrieve acquisition source info metadata
      description: Retrieves metadata for acquisition source information.
      parameters:
        - name: language_code
          in: path
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: language code
          required: true
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcquisitionDetailResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/{language_code}/weapon-type.json:
    get:
      tags:
        - MetaData
      summary: Retrieve weapon type metadata
      description: Retrieves metadata for weapon types.
      parameters:
        - name: language_code
          in: path
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: language code
          required: true
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeaponTypeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/{language_code}/fellow.json:
    get:
      tags:
        - MetaData
      summary: Retrieve fellow metadata
      description: Retrieves metadata for fellow metadata.
      parameters:
        - name: language_code
          in: path
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: language code
          required: true
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FellowResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/fellow-level-detail.json:
    get:
      tags:
        - MetaData
      summary: Retrieve EXP metadata by fellow level
      description: Retrieves required EXP metadata by fellow level.
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FellowLevelDetailResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/{language_code}/tier.json:
    get:
      tags:
        - MetaData
      summary: Retrieve tier metadata
      description: Retrieves tier metadata.
      parameters:
        - name: language_code
          in: path
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: language code
          required: true
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TierResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/core-slot.json:
    get:
      tags:
        - MetaData
      summary: Retrieve core slot metadata
      description: Retrieves metadata for core slots.
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoreSlotResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/{language_code}/core-type.json:
    get:
      tags:
        - MetaData
      summary: Retrieve core type metadata
      description: Retrieves metadata information for core types.
      parameters:
        - name: language_code
          in: path
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: language code
          required: true
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoreTypeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/{language_code}/descendant-group.json:
    get:
      tags:
        - MetaData
      summary: Retrieve descendant group metadata
      description: Retrieves descendant group metadata.
      parameters:
        - name: language_code
          in: path
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: Language codes
          required: true
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescendantGroupResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/adapt-level.json:
    get:
      tags:
        - MetaData
      summary: Retrieve adaptability level metadata
      description: Retrieves adaptability level metadata.
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdaptLevelResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/arche-tuning-board-group.json:
    get:
      tags:
        - MetaData
      summary: Retrieve Arche tuning board group metadata
      description: Retrieves Arche tuning board group metadata.
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArcheTuningBoardGroupResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/arche-tuning-board.json:
    get:
      tags:
        - MetaData
      summary: Retrieve Arche tuning board metadata
      description: Retrieves Arche tuning board metadata.
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArcheTuningBoardResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/{language_code}/arche-tuning-node.json:
    get:
      tags:
        - MetaData
      summary: Retrieve Arche tuning node metadata
      description: Retrieves Arche tuning node metadata.
      parameters:
        - name: language_code
          in: path
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: Language codes
          required: true
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArcheTuningNodeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/{language_code}/customizing-item.json:
    get:
      tags:
        - MetaData
      summary: Retrieve customization item metadata
      description: Retrieves customization item metadata.
      parameters:
        - name: language_code
          in: path
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: Language codes
          required: true
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomizingItemResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/{language_code}/medal.json:
    get:
      tags:
        - MetaData
      summary: Retrieve medal metadata
      description: Retrieves medal metadata.
      parameters:
        - name: language_code
          in: path
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: Language code
          required: true
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedalResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/{language_code}/vehicle.json:
    get:
      tags:
        - MetaData
      summary: Retrieve vehicle metadata
      description: Retrieves vehicle metadata.
      parameters:
        - name: language_code
          in: path
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: Language code
          required: true
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /static/tfd/meta/{language_code}/collectible-item.json:
    get:
      tags:
        - MetaData
      summary: Retrieve collectible item metadata
      description: Retrieves collectible item metadata.
      parameters:
        - name: language_code
          in: path
          schema:
            type: string
            enum:
              - ko
              - en
              - de
              - fr
              - ja
              - zh-CN
              - zh-TW
              - it
              - pl
              - pt
              - ru
              - es
          description: Language code
          required: true
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectibleItemResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /tfd/v1/recommendation/module:
    get:
      tags:
        - Recommendation
      summary: Module recommendation
      description: Recommends modules suited to the user.
      parameters:
        - name: x-nxopen-api-key
          in: header
          required: true
          schema:
            type: string
          description: API KEY
        - name: descendant_id
          in: query
          schema:
            type: string
          required: true
          description: Descendant identifier (Refer to /meta/descendant API)
        - name: weapon_id
          in: query
          schema:
            type: string
          required: true
          description: Weapon identifier (Refer to /meta/weapon API)
        - name: void_battle_id
          in: query
          schema:
            type: string
          required: true
          description: Void Intercept Battle identifier (Refer to /meta/void-battle API)
        - name: period
          in: query
          schema:
            type: string
            enum:
              - 0
              - 1
              - 2
          required: true
          description: |
            Query period
            - 0: last 7 days
            - 1: last 30 days
            - 2: all time
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModuleRecommendationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /tfd/v1/leaderboard/void-intercept-battle:
    get:
      tags:
        - leaderboard
      summary: Retrieve leaderboard for Void Intercept Battle
      description: Retrieve leaderboard for Void Intercept Battle.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: leaderboard_type
          in: query
          description: Leaderboard type
          required: true
          schema:
            type: string
            enum:
              - Solo
              - Squad
        - name: descendant_id
          in: query
          description: Descendant identifier (If the leaderboard type is Solo, enter)
          required: false
          schema:
            type: string
        - name: squad_user_count
          in: query
          description: Squad user count (If the leaderboard type is Squad, enter)
          required: false
          schema:
            type: integer
            format: int64
            enum:
              - 2
              - 3
              - 4
        - name: contents_type
          in: query
          description: Contents type (Abyss, Challenge)
          required: true
          schema:
            type: string
            enum:
              - Abyss
              - Challenge
        - name: platform_type
          in: query
          description: Platform type
          required: true
          schema:
            type: string
            enum:
              - All
              - Pc
              - PlayStation
              - Xbox
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoidInterceptBattleLeaderboard'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /tfd/v1/leaderboard/void-erosion-purge-challenge:
    get:
      tags:
        - leaderboard
      summary: Retrieve leaderboard for Void Erosion Purge - Challenge
      description: Retrieve leaderboard for Void Erosion Purge - Challenge.
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: leaderboard_type
          in: query
          description: Leaderboard type
          required: true
          schema:
            type: string
            enum:
              - Solo
              - Squad
        - name: descendant_id
          in: query
          description: Descendant identifier (If the leaderboard type is Solo, enter)
          required: false
          schema:
            type: string
        - name: squad_user_count
          in: query
          description: Squad user count (If the leaderboard type is Squad, enter)
          required: false
          schema:
            type: integer
            format: int64
            enum:
              - 2
              - 3
              - 4
        - name: platform_type
          in: query
          description: Platform type
          required: true
          schema:
            type: string
            enum:
              - All
              - Pc
              - PlayStation
              - Xbox
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoidErosionPurgeChallengeLeaderboard'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
components:
  schemas:
    User:
      type: object
      properties:
        ouid:
          type: string
          description: OUID
    UserBasic:
      type: object
      properties:
        ouid:
          type: string
          description: OUID
        user_name:
          type: string
          description: Nickname
          example: Nickname#1234
        platform_type:
          type: string
          description: Platform type
        mastery_rank_level:
          type: number
          format: int64
          description: Mastery Rank
        mastery_rank_exp:
          type: number
          format: int64
          description: Mastery Rank EXP
        title_prefix_id:
          type: string
          description: Prefix title identifier (Refer to /meta/title API)
        title_suffix_id:
          type: string
          description: Suffix title identifier (Refer to /meta/title API)
        os_language:
          type: string
          description: OS language setting
        game_language:
          type: string
          description: Game language setting
        medal_id:
          type: string
          description: Medal identifier
        medal_level:
          type: number
          format: int64
          description: Medal grade
    UserDescendant:
      type: object
      properties:
        ouid:
          type: string
          description: OUID
        user_name:
          type: string
          description: Nickname
          example: Nickname#1234
        descendant_id:
          type: string
          description: Equipped descendant identifier (Refer to /meta/descendant API)
        descendant_slot_id:
          type: string
          description: Descendant slot identifier
        descendant_level:
          type: number
          format: int64
          description: Equipped descendant level
        module_max_capacity:
          type: number
          format: int64
          description: Max. equippable module capacity
        module_capacity:
          type: number
          format: int64
          description: Equipped capacity
        energy_activator_use_count:
          type: number
          format: int64
          description: Energy activator usage count
        module:
          type: array
          description: Module information
          items:
            type: object
            properties:
              module_slot_id:
                type: string
                description: Module slot identifier
              module_id:
                type: string
                description: Module identifier (Refer to /meta/module API)
              module_enchant_level:
                type: number
                format: int64
                description: Module enchantment level
        customizing:
          type: array
          description: Customization information
          items:
            type: object
            properties:
              customizing_item_slot_id:
                type: string
                description: Customization item slot identifier
              customizing_item_type:
                type: string
                description: Customization item type
              customizing_item_id:
                type: string
                description: Customization item identifier (Refer to /meta/customizing-item API)
              customizing_item_evolution_stage:
                type: number
                format: int64
                description: Evolution stage of the customization item
              customizing_item_current_evolution_stage:
                type: number
                format: int64
                description: Currently selected evolution stage of the customization item
              paint:
                type: array
                description: Paint information
                items:
                  type: object
                  properties:
                    customizing_item_slot_id:
                      type: string
                      description: Paint customization slot identifier
                    customizing_item_type:
                      type: string
                      description: Paint customization item identifier
                    customizing_item_id:
                      type: string
                      description: Paint customization item identifier (Refer to /meta/customizing-item API)
      description: "NOTE (tfd-builds): The response represents the descendant's currently active module loadout. There is no preset_id field — switching presets in-game changes WHICH loadout is returned, but the response shape is unchanged. The `descendant_slot_id` field refers to the character roster slot, not a module preset."
    UserWeapon:
      type: object
      properties:
        ouid:
          type: string
          description: OUID
        user_name:
          type: string
          description: Nickname
          example: Nickname#1234
        weapon:
          type: array
          description: Weapon information
          items:
            type: object
            properties:
              module_max_capacity:
                type: number
                format: int64
                description: Max. equippable module capacity
              module_capacity:
                type: number
                format: int64
                description: Equipped capacity
              energy_activator_use_count:
                type: number
                format: int64
                description: Energy activator usage count
              weapon_slot_id:
                type: string
                description: Weapon slot identifier
              weapon_id:
                type: string
                description: Weapon identifier (Refer to /meta/weapon API)
              weapon_level:
                type: number
                format: int64
                description: Weapon level
              perk_ability_enchant_level:
                type: number
                format: int64
                description: Weapon Unique Ability enchantment level
              weapon_additional_stat:
                type: array
                description: Weapon random option information
                items:
                  type: object
                  properties:
                    additional_stat_name:
                      type: string
                      description: Weapon random option name
                    additional_stat_value:
                      type: string
                      description: Weapon random option value
              module:
                type: array
                description: Module information
                items:
                  type: object
                  properties:
                    module_slot_id:
                      type: string
                      description: Module slot identifier
                    module_id:
                      type: string
                      description: Module identifier (Refer to /meta/module API)
                    module_enchant_level:
                      type: number
                      format: int64
                      description: Module enchantment level
              core_unlock_flag:
                type: string
                description: Core unlock status (0:Locked | 1:Unlocked)
              core:
                type: array
                description: Core option information
                items:
                  type: object
                  properties:
                    core_slot_id:
                      type: string
                      description: Core slot identifier
                    core_option_name:
                      type: string
                      description: Core option name
                    core_option_value:
                      type: string
                      description: Core option value
    UserReactor:
      type: object
      properties:
        ouid:
          type: string
          description: OUID
        user_name:
          type: string
          description: Nickname
          example: Nickname#1234
        reactor_id:
          type: string
          description: Reactor identifier (Refer to /meta/reactor API)
        reactor_slot_id:
          type: string
          description: Reactor slot identifier
        reactor_level:
          type: number
          format: int64
          description: Reactor level
        reactor_additional_stat:
          type: array
          description: Reactor information
          items:
            type: object
            properties:
              additional_stat_name:
                type: string
                description: Reactor random option name
              additional_stat_value:
                type: string
                description: Reactor random option value
        reactor_enchant_level:
          type: number
          format: int64
          description: Reactor enchantment level
    UserExternalComponent:
      type: object
      properties:
        ouid:
          type: string
          description: OUID
        user_name:
          type: string
          description: Nickname
          example: Nickname#1234
        external_component:
          type: array
          description: External component information
          items:
            type: object
            properties:
              external_component_slot_id:
                type: string
                description: External component slot identifier
              external_component_id:
                type: string
                description: External component identifier (Refer to /meta/external-component API)
              external_component_level:
                type: number
                format: int64
                description: External component level
              external_component_additional_stat:
                type: array
                description: External component random option information
                items:
                  type: object
                  properties:
                    additional_stat_name:
                      type: string
                      description: External component random option name
                    additional_stat_value:
                      type: string
                      description: External component random option value
              core_unlock_flag:
                type: string
                description: Core unlock status (0:Locked | 1:Unlocked)
              core:
                type: array
                description: Core option information
                items:
                  type: object
                  properties:
                    core_slot_id:
                      type: string
                      description: Core slot identifier
                    core_option_name:
                      type: string
                      description: Core option name
                    core_option_value:
                      type: string
                      description: Core option value
    UserArcheTuning:
      type: object
      properties:
        ouid:
          type: string
          description: Account identifier
        descendant_group_id:
          type: string
          description: Descendant group identifier (Refer to /meta/descendant-group API)
        arche_tuning_board_group_id:
          type: string
          description: Arche tuning board group identifier (Refer to /meta/arche-tuning-board-group API)
        arche_tuning:
          type: array
          description: Arche tuning list
          items:
            type: object
            properties:
              slot_id:
                type: string
                description: Slot identifier
              arche_tuning_board:
                type: array
                description: Arche tuning board list
                items:
                  type: object
                  properties:
                    arche_tuning_board_id:
                      type: string
                      description: Arche tuning board identifier (Refer to /meta/arche-tuning-board API)
                    node:
                      type: array
                      description: Node list
                      items:
                        type: object
                        properties:
                          node_id:
                            type: string
                            description: Node identifier (Refer to /meta/arche-tuning-node API)
                          position_row:
                            type: string
                            description: Row coordinate of the node
                          position_column:
                            type: string
                            description: Column coordinate of the node
      description: "NOTE (tfd-builds): For older descendants (e.g., Ines `descendant_group_id` 101200026, U.Viessa 101200003) `slot_id=0` may include BOTH a generic base-board entry (`arche_tuning_board_id` 101400001) AND the descendant-specific entry. The base entry is identical bit-for-bit across users (32 nodes, cost 40, same node_ids) and is NOT user data. Newer descendants (e.g., Dia 101200032) return one entry per slot and don't exhibit this quirk. When importing, treat each entry independently and pick the one with the highest selected-cost (sum of `required_tuning_point`) as the user's actual loadout — merging entries within a slot produces phantom positions that inflate cost beyond the 40-point cap."
    ErrorMessage:
      type: object
      properties:
        error:
          type: object
          properties:
            name:
              type: string
              description: Error name
            message:
              type: string
              description: Error description
    DescendantResponse:
      type: array
      items:
        type: object
        properties:
          descendant_id:
            type: string
            description: Descendant identifier
          descendant_name:
            type: string
            description: Descendant name
          descendant_group_id:
            type: string
            description: Descendant group identifier (Refer to /meta/descendant-group API)
          descendant_image_url:
            type: string
            description: Descendant image path
          descendant_stat:
            type: array
            description: Descendant stat information
            items:
              type: object
              properties:
                level:
                  type: number
                  format: int64
                  description: Level
                stat_detail:
                  type: array
                  description: Descendant details
                  items:
                    type: object
                    properties:
                      stat_id:
                        type: string
                        description: Stat type (Refer to /meta/stat API)
                      stat_value:
                        type: number
                        format: double
                        description: Value by stat type
          descendant_skill:
            type: array
            description: Descendant skill information
            items:
              type: object
              properties:
                skill_type:
                  type: string
                  description: Skill type (active/passive)
                skill_name:
                  type: string
                  description: Skill name
                element_type:
                  type: string
                  description: Skill type
                arche_type:
                  type: string
                  description: Arche type
                skill_image_url:
                  type: string
                  description: Skill icon image path
                skill_description:
                  type: string
                  description: Skill description
      description: 'NOTE (tfd-builds): `descendant_image_url` is currently null in every metadata response (verified directly against Nexon, not a caching artifact).'
    WeaponResponse:
      type: array
      items:
        type: object
        properties:
          weapon_name:
            type: string
            description: Weapon name
          weapon_id:
            type: string
            description: Weapon identifier
          image_url:
            type: string
            description: Weapon image path
          weapon_type:
            type: string
            description: Weapon type
          weapon_category:
            type: string
            description: Weapon category
          weapon_tier_id:
            type: string
            description: Weapon tier (Refer to /meta/tier API)
          weapon_rounds_type:
            type: string
            description: Weapon rounds type
          available_core_slot:
            type: array
            description: List of unlockable core slots (Refer to the /meta/core-slot API)
            items:
              type: string
          base_stat:
            type: array
            description: Weapon base spec information
            items:
              type: object
              properties:
                stat_id:
                  type: string
                  description: Weapon base spec identifier (Refer to /meta/stat API)
                stat_value:
                  type: number
                  format: double
                  description: Weapon base spec value
          firearm_atk:
            type: array
            description: Firearm attack power by level information
            items:
              type: object
              properties:
                level:
                  type: number
                  format: int64
                  description: Firearm level
                firearm:
                  type: array
                  description: Firearm ATK
                  items:
                    type: object
                    properties:
                      firearm_atk_type:
                        type: string
                        description: Firearm ATK type (Refer to /meta/stat API)
                      firearm_atk_value:
                        type: number
                        format: double
                        description: Firearm ATK value
          weapon_perk_ability_name:
            type: string
            description: Unique Ability name
          weapon_perk_ability_description:
            type: string
            description: Unique Ability description
          weapon_perk_ability_image_url:
            type: string
            description: Unique Ability image path
      description: 'NOTE (tfd-builds): `image_url` and `weapon_perk_ability_image_url` are currently null in every metadata response.'
    ModuleResponse:
      type: array
      items:
        type: object
        properties:
          module_name:
            type: string
            description: Module name
          module_id:
            type: string
            description: Module identifier
          image_url:
            type: string
            description: Module image path
          module_type:
            type: string
            description: Module type
          module_tier_id:
            type: string
            description: Module tier (Refer to /meta/tier API)
          module_socket_type:
            type: string
            description: Module slot socket type
          module_class:
            type: string
            description: Module class
          available_weapon_type:
            type: array
            items:
              type: string
            description: List of weapon types that can equip modules (refer to /meta/weapon-type API)
          available_descendant_id:
            type: array
            items:
              type: string
            description: List of descendant identifiers that can equip modules (refer to /meta/descendant API)
          available_module_slot_type:
            type: array
            items:
              type: string
            description: List of slot types that can equip modules
          module_stat:
            type: array
            description: Module attribute information
            items:
              type: object
              properties:
                level:
                  type: number
                  format: int64
                  description: Module enchantment level
                module_capacity:
                  type: number
                  format: int64
                  description: Module capacity
                value:
                  type: string
                  description: Module attribute value
      description: 'NOTE (tfd-builds): `image_url` is currently null in every metadata response.'
    ReactorResponse:
      type: array
      items:
        type: object
        properties:
          reactor_id:
            type: string
            description: Reactor identifier
          reactor_name:
            type: string
            description: Reactor name
          image_url:
            type: string
            description: Reactor image path
          reactor_tier_id:
            type: string
            description: Reactor tier (Refer to /meta/tier API)
          reactor_skill_power:
            type: array
            description: Skill Power by level information
            items:
              type: object
              properties:
                level:
                  type: number
                  format: int64
                  description: Reactor level
                skill_atk_power:
                  type: number
                  format: double
                  description: Skill Power
                sub_skill_atk_power:
                  type: number
                  format: double
                  description: Sub Attack Power
                skill_power_coefficient:
                  type: array
                  description: Skill Power Boost Ratio information
                  items:
                    type: object
                    properties:
                      coefficient_stat_id:
                        type: string
                        description: Skill Power Boost Ratio identifier (Refer to /meta/stat API)
                      coefficient_stat_value:
                        type: number
                        format: double
                        description: Skill Power Boost Ratio value
                enchant_effect:
                  type: array
                  description: Enchantment effect by level information
                  items:
                    type: object
                    properties:
                      enchant_level:
                        type: number
                        format: int64
                        description: Enchantment level
                      stat_id:
                        type: string
                        description: Enchantment effect type (Refer to /meta/stat API)
                      value:
                        type: number
                        format: double
                        description: Enchantment effect value
          optimized_condition_type:
            type: string
            description: Optimization Condition
      description: 'NOTE (tfd-builds): `image_url` is currently null in every metadata response.'
    ExternalComponentResponse:
      type: array
      items:
        type: object
        properties:
          external_component_id:
            type: string
            description: External component identifier
          external_component_name:
            type: string
            description: External component name
          image_url:
            type: string
            description: External component image path
          external_component_equipment_type:
            type: string
            description: External component equipment part
          external_component_tier_id:
            type: string
            description: External components tier  (Refer to /meta/tier API)
          available_core_slot:
            type: array
            description: List of unlockable core slots (Refer to the /meta/core-slot API)
            items:
              type: string
          base_stat:
            type: array
            description: External component effect by level information
            items:
              type: object
              properties:
                level:
                  type: number
                  format: int64
                  description: External component level
                stat_id:
                  type: string
                  description: External component effect type
                stat_value:
                  type: number
                  format: double
                  description: External component effect value
          set_option_detail:
            type: array
            description: External component set option information
            items:
              type: object
              properties:
                set_option:
                  type: string
                  description: External component set option type
                set_count:
                  type: number
                  format: int64
                  description: Number of external component sets
                set_option_effect:
                  type: string
                  description: External component set option set effect
      description: 'NOTE (tfd-builds): `image_url` is currently null in every metadata response.'
    RewardResponse:
      type: array
      items:
        type: object
        properties:
          map_id:
            type: string
            description: Map identifier
          map_name:
            type: string
            description: Map name
          battle_zone:
            type: array
            description: Battlefield information
            items:
              type: object
              properties:
                battle_zone_id:
                  type: string
                  description: Battlefield identifier
                battle_zone_name:
                  type: string
                  description: Battlefield name
                reward:
                  type: array
                  description: Reward rotation information
                  items:
                    type: object
                    properties:
                      rotation:
                        type: number
                        format: int64
                        description: Reward rotation
                      reward_type:
                        type: string
                        description: Reward type
                      reactor_element_type:
                        type: string
                        description: Skill type
                      weapon_rounds_type:
                        type: string
                        description: Weapon rounds type
                      arche_type:
                        type: string
                        description: Arche type
    StatResponse:
      type: array
      items:
        type: object
        properties:
          stat_id:
            type: string
            description: Base stat identifier
          stat_name:
            type: string
            description: Base stat name
          stat_order_no:
            type: number
            format: int64
            description: Base stat sort order (ascending)
    VoidBattleResponse:
      type: array
      items:
        type: object
        properties:
          void_battle_id:
            type: string
            description: Void Intercept Battle identifier
          void_battle_name:
            type: string
            description: Void Intercept Battle name
    TitleResponse:
      type: array
      items:
        type: object
        properties:
          title_id:
            type: string
            description: Title identifier
          title_name:
            type: string
            description: Title name
    DescendantLevelDetailResponse:
      type: array
      items:
        type: object
        properties:
          descendant_level:
            type: number
            format: int64
            description: Descendant level
          exp_per_level:
            type: number
            format: int64
            description: Required EXP for the next level
    MasteryRankLevelDetailResponse:
      type: array
      items:
        type: object
        properties:
          mastery_rank_level:
            type: number
            format: int64
            description: Mastery Rank
          exp_per_level:
            type: number
            format: int64
            description: Required EXP for the next level
    ConsumableMaterialResponse:
      type: array
      items:
        type: object
        properties:
          consumable_material_id:
            type: string
            description: Consumable Item identifier
          image_url:
            type: string
            description: Consumable Item image path
          consumable_material_name:
            type: string
            description: Consumable Item name
          required_mastery_rank_level:
            type: number
            format: int64
            description: Required Mastery Rank
          material_type:
            type: string
            description: Material type
          acquisition_detail:
            type: array
            items:
              type: string
            description: Acquisition source (refer to /meta/acquisition-detail API)
          amorphous_reward:
            type: array
            items:
              type: string
            description: Amorphous Material open reward (refer to /meta/amorphous-reward API)
    ResearchResponse:
      type: array
      items:
        type: object
        properties:
          research_id:
            type: string
            description: Research identifier
          research_name:
            type: string
            description: Research name
          repeatable_research:
            type: boolean
            description: Repeatable
          research_type:
            type: string
            description: Research type
          research_time:
            type: number
            format: int64
            description: Research time (seconds)
          research_cost:
            type: array
            description: Research cost
            items:
              type: object
              properties:
                currency_type:
                  type: string
                  description: Currency type
                currency_value:
                  type: number
                  format: int64
                  description: Currency amount
          research_boost_cost:
            type: array
            description: Boost Research Cost
            items:
              type: object
              properties:
                currency_type:
                  type: string
                  description: Currency type
                currency_value:
                  type: number
                  format: int64
                  description: Currency amount
          research_result:
            type: array
            description: Research result
            items:
              type: object
              properties:
                meta_type:
                  type: string
                  description: Metadata type of the research result item
                meta_id:
                  type: string
                  description: Identifier of the research result item
                result_count:
                  type: number
                  format: int64
                  description: Quantity of the research result item
          research_material:
            type: array
            description: Research materials
            items:
              type: object
              properties:
                meta_type:
                  type: string
                  description: Metadata type of the research material item
                meta_id:
                  type: string
                  description: Identifier of the research material item
                material_count:
                  type: number
                  format: int64
                  description: Quantity of the research material item
                research_id:
                  type: array
                  items:
                    type: string
                  description: Research identifier of the research material item (refer to /meta/research API)
          available_research_count:
            type: array
            items:
              type: number
              format: int32
            description: Number of research possible
    AmorphousRewardResponse:
      type: array
      items:
        type: object
        properties:
          amorphous_reward_id:
            type: string
            description: Identifier for Amorphous Material open reward
          open_reward:
            type: array
            description: Information about Amorphous Material open rewards
            items:
              type: object
              properties:
                reward_type:
                  type: string
                  description: Reward type (Default, Upgrade)
                required_stabilizer:
                  type: string
                  description: Identifier of the Shape Stabilizer required for upgrade (refer to /meta/consumable-material API)
                reward_item:
                  type: array
                  description: Information about items from Amorphous Material open rewards
                  items:
                    type: object
                    properties:
                      meta_type:
                        type: string
                        description: Type of the Amorphous Material open reward item
                      meta_id:
                        type: string
                        description: Identifier of the Amorphous Material open reward item
                      rate:
                        type: number
                        format: float
                        description: Reward probability (%)
    AcquisitionDetailResponse:
      type: array
      items:
        type: object
        properties:
          acquisition_detail_id:
            type: string
            description: Identifier of the acquisition source
          acquisition_detail_name:
            type: string
            description: Acquisition source name
    WeaponTypeResponse:
      type: array
      items:
        type: object
        properties:
          weapon_type:
            type: string
            description: Weapon type
          weapon_type_name:
            type: string
            description: Weapon type name
    FellowResponse:
      type: array
      items:
        type: object
        properties:
          fellow_id:
            type: string
            description: Identifier for the fellow
          fellow_name:
            type: string
            description: Fellow name
          fellow_tier_id:
            type: string
[...]
